# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build Output
# =========================
bin/
obj/

# =========================
# Rider
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# App Settings (if secrets are added later)
# =========================
appsettings.Development.json

# =========================
# NuGet
# =========================
*.nupkg
packages/

# =========================
# SQL Server
# =========================
*.mdf
*.ldf

# =========================
# Tableau
# =========================
*.twbr

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db